[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cra-helper = "*"
coreapi = "*"

[dev-packages]
"flake8" = "*"
"flake8-quotes" = "*"

[requires]
python_version = "3.6"
